

body { background-image: url("../images/seamless_paper_texture.png");
 
}

nav{
	background-color: white;
}

a.navbar-brand {
	background-color: #4aaaa5;
	color: white;
	padding: 10px;
	margin-right: 630px;
	margin-left: 30px;
}

div.col-sm-6 {
	margin-top: 30px;
	margin-bottom: 30px;
}


div.About {
	background-color: white;
	padding: 20px;
}

h5.About {
	color: #4aaaa5;
	border-bottom: solid;
	border-color: #777777;
	padding-bottom: 10px; 
	margin-bottom: 30px;

}

img.profilepic {
	float: left;
	margin-right: 10px;
}

h5.card-title {
	color: #4aaaa5;
	border-bottom: solid;
	border-color: #777777;
	padding-bottom: 10px; 
	margin-bottom: 30px;
}


h5.form {
	color: #4aaaa5;
	border-bottom: solid;
	border-color: #777777;
	padding-bottom: 10px; 
	margin-bottom: 30px;
}

input.btn {
	background-color: #4aaaa5;
	border: #4aaaa5;
}

h5.portfolio {
	color: #4aaaa5;
	border-bottom: solid;
	border-color: #777777;
	padding-bottom: 10px; 
	margin-bottom: 10px;
}


form {
	background-color: white;
	height: 600px;
	width: 500px;
	padding: 10px;
}

section.portfolio {
	background-color: white;
	height: 550px;
	width: 450px;
	padding: 10px;
	position: relative;
}

img.portpic {
	margin: 20px;
}

p.Hangman {
	background-color: #4aaaa5;
	color: #F8F8FF;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-left: 60px;
	padding-right: 60px;
	position: absolute;
	top: 155px;
	left: 15px;

}

p.RPGGame {
	background-color: #4aaaa5;
	color: #F8F8FF;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-left: 53px;
	padding-right: 55px;
	position: absolute;
	top: 155px;
	right: 25px;

}

p.TriviaGame {
	background-color: #4aaaa5;
	color: #F8F8FF;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-right: 50px;
	padding-left: 55px;
	position: absolute;
	top:325px;
	right: 25px;
}

p.RutgersInfoWidget {
	background-color: #4aaaa5;
	color: #F8F8FF;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-right: 30px;
	padding-left: 20px;
	position: absolute;
	top:325px;
	left: 15px;
	

}

p.RockPaperScissors {
	background-color: #4aaaa5;
	color: #F8F8FF;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 24px;
	position: absolute;
	top: 500px;
	left: 15px;
}



footer.footer {
	background-color: #666666;
	color: #F8F8FF;
	clear: both;
	text-align: center;
	font-size: 10px;
	padding: 20px;
	border-top: 5px solid #4aaaa5;


}
